:root {
	--colorBg: #fff;
	--colorBgDark: #ccc;
	--colorBgDarker: #999;
	--colorBgDarkest: #666;
	--colorSuccess: #393;
	--colorSuccessBright: #6c6;
	--colorSuccessBrighter: #cfc;
	--colorError: #933;
	--colorErrorBright: #c66;
	--colorErrorBrighter: #fcc;
	--colorInfo: #339;
	--colorInfoBright: #66c;
	--colorInfosBrighter: #ccf;

	--borderRadius: 8px;
	--borderRadiusSmall: 4px;
}